<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pridetechnologies.businesscard">

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <uses-feature android:name="android.hardware.camera.any" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MANAGE_OWN_CALLS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name="com.pridetechnologies.businesscard.BusinessCard"
        android:allowBackup="true"
        android:icon="@mipmap/card_rect"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/card_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.pridetechnologies.businesscard.BrowserWebViewActivity"
            android:launchMode="singleTask">

        </activity>
        <activity
            android:name="com.pridetechnologies.businesscard.Sinch.GoToVideoCallActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pridetechnologies.businesscard.Sinch.GoToVoiceCallActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pridetechnologies.businesscard.Sinch.VideoCallScreenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pridetechnologies.businesscard.Sinch.VoiceCallScreenActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pridetechnologies.businesscard.Sinch.IncomingVideoCallActivity"
            android:autoRemoveFromRecents="true"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pridetechnologies.businesscard.Sinch.IncomingCallScreenActivity"
            android:autoRemoveFromRecents="true"
            android:noHistory="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pridetechnologies.businesscard.TestingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pridetechnologies.businesscard.EditDepartmentContactsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pridetechnologies.businesscard.AddDepartmentContactsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pridetechnologies.businesscard.MoreBusinessInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pridetechnologies.businesscard.UserBusinessRequestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pridetechnologies.businesscard.BasicBusinessAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pridetechnologies.businesscard.CreateNewBusinessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pridetechnologies.businesscard.ScanBusinessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pridetechnologies.businesscard.NewBusinessCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pridetechnologies.businesscard.BraintreePaymentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pridetechnologies.businesscard.FeedbackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pridetechnologies.businesscard.UserRequestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pridetechnologies.businesscard.AddBusinessLogoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pridetechnologies.businesscard.BusinessBioActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pridetechnologies.businesscard.AddBioActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pridetechnologies.businesscard.SubscriptionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pridetechnologies.businesscard.TeamMemberProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pridetechnologies.businesscard.PersonalBasicsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pridetechnologies.businesscard.BusinessLogoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pridetechnologies.businesscard.BusinessBasicsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pridetechnologies.businesscard.BusinessSocialMediaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pridetechnologies.businesscard.ManageBusinessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pridetechnologies.businesscard.BusinessAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pridetechnologies.businesscard.SocialMediaActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pridetechnologies.businesscard.AddBusinessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pridetechnologies.businesscard.AddPhotoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pridetechnologies.businesscard.AddPersonalDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pridetechnologies.businesscard.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pridetechnologies.businesscard.NewCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pridetechnologies.businesscard.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pridetechnologies.businesscard.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.pridetechnologies.businesscard.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.pridetechnologies.businesscard.ForgotPasswordActivity" />
        <activity android:name="com.pridetechnologies.businesscard.LoginActivity"
            android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="@string/fb_login_protocol_scheme" />
        </intent-filter>
        </activity>
        <activity android:name="com.pridetechnologies.businesscard.MainActivity" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:clearTaskOnLaunch="true"
            android:icon="@drawable/ic_launcher_background"
            android:label="Business Card"
            android:logo="@drawable/ic_launcher_background"
            android:screenOrientation="fullSensor"
            android:stateNotNeeded="true"
            android:theme="@style/zxing_CaptureTheme"
            tools:replace="screenOrientation" />

        <provider
            android:authorities="${applicationId}.provider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/app_id" />
        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>


        <service
            android:name="com.pridetechnologies.businesscard.SendNotificationPack.MyFireBaseMessagingService"
            android:enabled="true"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name="com.pridetechnologies.businesscard.Sinch.FcmListenerService"
            android:enabled="true"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name="com.pridetechnologies.businesscard.SendNotificationPack.MyFirebaseIdService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.pridetechnologies.businesscard.Sinch.SinchService" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/card_round" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />
    </application>

</manifest>